<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp01 page</title>
    <style>
        .user{color : green}
        #name{color : blue}  <!-- 혹은 .name{color : blue}-->
        li{color : red}
    </style>
</head>
<body>
    <!--name, glist object-->
    <div align="center">
        <h2>구매상품 정보</h2>
        <table border="1" width="400">
            <tr>
                <th id ="user">사용자</th>
                <th class="name">{{ name }}</th>
            </tr>
            <tr>
                <th>구매 상품 목록</th>
                <td>
                    <ul> <!--순서 없는 목록 -->
                        {%for goods in glist%}
                            <li>{{goods}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        <br>
        <a href= "./temp02/{{name}}">[temp02_page.html]</a>
    </div>

</body>
</html>