<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete page</title>
</head>
<body>
    <div align="center">
        <h2>레코드 삭제 화면</h2>
        <form method="post" action="/delete"> <!--코드를 기준으로 수량, 단가 수정-->
            코드 : <input code="code" size="15"/><br>
            <!--상품 : <input code="name" size="15"/><br>
            수량 : <input code="su" size="15"/><br>
            단가 : <input code="dan" size="15"/><br>-->
            <input type="submit" value="삭제"/>
            <input type="reset" value="취소"/>
        </form>

    </div>

</body>
</html>