<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert form</title>
</head>
<body>
    <div align="center">
        <h2>레코드 추가 화면</h2>
        <form method="post" action="/insert">
            코드 : <input code="code" size="15"/><br>
            상품 : <input code="name" size="15"/><br>
            수량 : <input code="su" size="15"/><br>
            단가 : <input code="dan" size="15"/><br>
            <input type="submit" value="저장"/>
            <input type="reset" value="취소"/>
        </form>

    </div>

</body>
</html>